
header{
    display: flex;
    margin: 0%;
    padding: 0%;
    

}
   


h1{
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    text-align: center;    
}

.img-japon{
    display: flex;
}
  



