

h1{
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    text-align: center;
    border: 2px solid transparent;

 

}


body{
    background-image: url(../assets/fansite2/background-2.png);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    margin: 10px;
    
}

.flex-container{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    display: flex;

}

.text1,
.text2{
    background-color:white;
    display: flex;
}