@import url("../globals.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');


body {
   
      font-family: "Poppins", sans-serif;
      background-color: cornflowerblue;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

p { 

 display: flex;
 margin: auto;
 padding: auto;

}

.introduction {

  padding: 40px;
  margin: 40px;
  
}

.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
   
  }
  
  .accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .accordion-title {
    position: relative;

  }
  
  .accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
  }
  
  .accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
  }
  
  .accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
  }
  
  /* L'aspect de mon accordéon */ 
  
   .accordion {
      border-color: #f29109;
      border-style: solid;
      border-width: 0px;
      flex-direction: row;
      height: 1050px;
  } 
  
   .accordion-title,
  .accordion-select  {
      background-color: #ffffff;
      color: #7f8787;
      width: 100px;
      height: 100%;
      font-size: 20px;
  }
  
  .accordion-select {
      margin-bottom: -65px;
      margin-right: -71px;
  }
  
  .accordion-title:not(:nth-last-child(2))::after {
      border-bottom-color: transparent;
      border-right-color: rgb(223, 162, 162);
  } 
  
   .accordion-select:hover + .accordion-title,
  .accordion-select:checked + .accordion-title {
      background-color: #ffffff;
  } 
  
   .accordion-title span  {	
      transform: rotate(-90deg);
      -ms-writing-mode: lr-bt;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      padding-bottom: 36px;
      padding-top: 36px;
      line-height: 71px;
  } 
  
   .accordion-content {
      background-color: #fa8989;
      color: #4b2828;
      height: 100%;
      margin-bottom: -340px;
      margin-right: calc(-1 * calc(100% - 497px));
      padding: 15px;
      width: calc(100% - 497px);
  } 