@import url("../globals.css");

.groupedButton {
    background-color: var(--color-white);
    width: 60px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;

    z-index: 300;
}

.groupedButton a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}

hr {
    width: 85%;
    height: 1px;
    background-color: lightgray;
    border: none;
}

.container_page_image {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: end;
}

.container_page_image img {
    width: 100%;
}

.container_page_text {
    background-color: var(--color-white);
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -160px;
}

h1,
p {
    font-family: var(--font-main);
}

span {
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}

.container_page_text h1 {
    margin-bottom: 20px;
    font-size: 38px;
}

.spe {
    width: 80%;
    margin-left: 10%;
}

.spe.road h1 {
    width: 100%;
    padding-bottom: 30px;
}

.spe.road {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 40px;
    border-radius: 24px;
}

.fix_top {
    position: relative;
    top: -60px;
}

.container_road_image {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.bd1 {
    border-radius: 30% 70% 68% 32% / 27% 21% 79% 73%;
}

.bd2 {
    border-radius: 30% 70% 70% 30% / 62% 80% 20% 38%;
}

.bd3 {
    border-radius: 72% 28% 78% 22% / 24% 80% 20% 76%;
}

.container_road_image img {
    width: 100%;
}

.container_road_text {
    width: 63%;
}

.container_road_text #tips {
    margin-top: 40px;
}

.spe iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.final_text {
    margin-bottom: 40px;
}

.final_text a {
    color: lightsalmon !important;
    font-weight: bold;
}

.final_text a:hover {
    text-decoration: underline;
}

.spe.final h1 {
    text-align: center;
    margin-bottom: 40px;
}


.food {
    display: grid;
    grid-template-columns: auto auto auto;
}

.spe.food2 {
    margin-bottom: 120px;

    text-align: center;
}

.spe.food2 span {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-orange);
}

.spe.food2 p {
    margin: 40px 0;
}

.col {
    padding: 0px 8px;
}

.container_img_food {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-white);
    margin-top: 10px;
    border-radius: 16px;
}

.container_img_food img {
    width: 160%;
    transition: 0.2s ease-in-out;
}

.container_img_food img:hover {
    scale: 1.4;
}

.container_img_food.w1 {
    height: 200px;
}

/* .container_img_food.w2 {
    width: 00px;
} */

.container_img_food.w3 {
    height: 400px;
}

.container_img_food.w4 {
    height: 500px;
}

.container_img_food.w5 {
    height: 600px;
}

.container_img_food.w6 {
    height: 80px;
}

.spe.news {
    margin-bottom: 120px;
}

.spe.news h1 {
    text-align: center;
    margin: 40px 0;
}

.news_grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.container_news {
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news_img {
    width: 100%;
    height: 200px;
    overflow: hidden;

    display: flex;
    justify-items: center;
    align-items: center;
    background-color: var(--color-white);
}

.news_img img {
    width: 130%;
}

.text_news li {
    list-style: none;
    font-family: var(--font-main);
    display: flex;
    justify-content: left;
    align-items: center;
}

#title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-orange);
}

#more {
    margin-top: 30px;
    font-size: 14px;
}

a {
    color: var(--color-orange) !important;
}

.text_news img {
    width: 30px;
}

.text_news {
    padding: 40px;
}

/* RESPONSIVE  */

@media(max-width:1248px) {
    .spe.road h1 {
        text-align: center;
    }
}

@media(max-width:980px) {
    .spe {
        width: 95%;
        margin-left: 2.5%;
    }

    .container_page_text {
        width: 90%;
        margin-left: 5%;
    }

    .container_road_text {
        width: 100%;
    }

    .groupedButton {
        width: 100%;
        height: 130px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: space-evenly;
        padding: 0 20px;
        bottom: 0;
        left: 0;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    hr {
        /* width: 1px;
        height: 40px;
        margin-top: 10px;
        background-color: lightgray;
        border: none; */
        display: none;
    }

    .groupedButton a {
        width: auto;
        font-size: 30px;
    }

    .container_page_image img {
        width: 180%;
    }

    .spe.final {
        margin-bottom: 200px;
    }

    .spe.final p {
        text-align: center;
    }

    .food {
        grid-template-columns: auto auto;
    }

    .news_grid {
        grid-template-columns: auto auto;
    }
}

@media(max-width:480px) {
    .food {
        grid-template-columns: auto;
    }

    .news_grid {
        grid-template-columns: auto;
    }
}

@media(max-width:400px) {
    .container_road_image img {
        width: 130%;
    }
}