@import url("../globals.css");

@media  screen and (max-width : 1024px) {

    .photo-ronde{
        display: flex;
        flex-direction: column;
    }
    
.galerie{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
   }
    
.article3{
    align-items: center;
    height: 100%;
    margin-left: 20%;
}
   

    .culture{
        flex-direction: column-reverse;
    }

    .video{
        flex-direction: column;
    }
    



    
}

body {
    background-color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style:normal;
    font-weight: bold;
}



.img-japon {
    width: 100% ;
    display: flex;
    margin: 0% auto;
}

.titre {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.article {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5em;

}



.article2{
    margin-left: 10px;
    padding-top: 150px;
    width: 90%;
    height: 120%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.article2 ul{
    text-decoration: none;
    margin-left: 15px;
}

.article3{
    padding: 10px;
    width: 50%;
    height: 100% ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-image: url(../assets/fansite2/background.png);
   background-position: center;
   background-size: auto ;
   text-align: center;
}

.temple{
    padding-right: 20px;
    margin-left: 20px;
    width: 50%;
    height: 100% ;
}

.culture{
    display: flex;
}


.article4{
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: left;
    
    

}

.article1{
    padding: 30px;
    width: 100%;
    height: 100%;
   flex-wrap: wrap;
   
}

.article2,
.article4{
    padding: 10px;
    border-radius: 15px;
    background-image: url(../assets/fansite2/background.png);
   background-position: center;
   background-size: auto ;
}

.article1 h1,
.article2 h1,
.article3 h1,
.article4 h1{
text-align: center;
padding-top: 15px;
padding-bottom: 30px;
;
}

.photo-ronde{
   display: flex;
   flex-direction: column;
   
}
.photo-ronde img{
    height: 200px;
    width: 150px;
}

.galerie0{
    margin-left: 10px;
    border-top-left-radius: 5px;
}

.galerie2{
    border-top-right-radius: 5px;
}


.galerie{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
h1{
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal; 
}
 
.video{
    display: flex;
    align-items: center;
}

.tampon{
    width: 300px;
    height: 300px;
}

.tampon1{
    display: flex;
    justify-content: center;
 
}




