@import url("../globals.css");


body {
    background-color: white;
}

.img-japon {
    display: flex;
    margin: 0% auto;
}

.titre {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 37%;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.article {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5em;

}



.article2{
    background-color: ivory;
    padding: 10px;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.article3{
    background-color: #91A4AB;
    margin-left: 450px;
    padding: 10px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.article4{
    background-color: #56677E;
    margin-right: 250px;
    margin-bottom: 50px;
    

}

.article1{
    padding: 30px;
    width: 1300px;
    height: 500px;
   margin-left: 100px;
   background-color: ivory;
}

.article2,
.article4{
    padding: 10px;
    width: 1000px;
    border-radius: 15px;
    
    
    
}

.article1 h1,
.article2 h1,
.article3 h1,
.article4 h1{
text-align: center;
padding-top: 15px;
padding-bottom: 30px;
;
}

.photo-ronde img{
    display: flex;
    border-radius: 50%;
}

