@import url("../globals.css");

.groupedButton {
    background-color: white;
    width: 60px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;

    z-index: 300;
}

.groupedButton a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}

hr {
    width: 85%;
    height: 1px;
    background-color: lightgray;
    border: none;
}

.container_page_image {
    width: 80%;
    margin-left: 10%;

    height: 600px;
    overflow: hidden;
    margin-top: 40px;
}

.container_page_image img {
    width: 100%;
}

.container_page_text {
    background-color: var(--color-white);
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 40px;
    position: relative;
    top: -140px;
}

.container_page_text h1,
p {
    font-family: var(--font-main);
}

.container_page_text h1 {
    margin-bottom: 20px;
    font-size: 3rem;

}

.video-section {
    background-color: red;
    padding: 20px;
}

video {
    border-radius: 10px;

}