@import url("../globals.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');


.container_head {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  
}


body { 
    background-color: #FEFAE0;
    font-family: "Poppins", sans-serif;
}


.introduction {

    display: flex;
    margin: 40px;
    padding: 40px;
    justify-content: center;
}


/*Boite Guadeloupe*/

.container_head_G {
   
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-direction: row;
    margin: 60px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: mistyrose;

}

.container_head_G img {
    width: 400px;
    height: 500px;
    
}

.container_head h2 {

    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.container_head_G p {

    justify-content: center;
    text-align: left;
    margin-right: 40px;
    padding: 20px;

}

/*Boite Japon*/

.container_head_J {
    display: flex;
    align-items: center ;
    flex-direction: row-reverse;
    margin: 60px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #aeecca;

}
.container_head_J p {

    justify-content: center;
    text-align: right;
    margin-right: 40px;

}

.container_head_J img {
    width: 400px;
    height: 500px;
   
}

/*Boite Grece*/

.container_head_GR {
    display: flex;
    align-items: center;
    margin: 60px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #cacbf9fb;
}

.container_head_GR img {
    width: 400px;
    height: 500px;
    
}


.container_head_GR p {

    justify-content: center;
    text-align: left;
    margin-left: 40px;
  
}

