@import url("../globals.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');


.container_head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    /* gap: 120px; */
}


body {
    background-color: #FEFAE0;
    font-family: "Poppins", sans-serif;
}


.introduction {
    display: flex;
    margin: 60px 30px;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.container_head h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

/*Boite Guadeloupe*/

.container_head_G {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: mistyrose;

    margin-bottom: 120px;
}

.imgG {
    width: 400px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgG img {
    width: 100%;
}

.textG {
    width: 60%;
}

.textG p {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 20px;
    background-color: #f47a42;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer img {
    width: 100px;
    height: 100px;
}

.children-logo {
    display: flex;
    justify-content: space-between;
}

footer h1 {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: var(--font-title);
    font-size: 6rem;
    color: #FEFAE0;
}

span img {
    height: 50px;
    width: 50px;
}

.container_head a {
    color: hsl(0, 11%, 31%);
}

@media(max-width:1050px) {
    .textG {
        width: 100%;
    }

    .imgG {
        width: 100%;
    }
}

@media(max-width:980px) {
    footer {
        padding: 0;
    }

    footer h1 {
        font-size: 2rem;
    }

}